div.chat>div.message{
    margin-bottom:8px;
}
div.chat>div.message{
    padding-right:8px;
    height:100%;
    overflow-y:scroll;
    overflow-wrap:break-word;
    word-break:break-all;
    /*text-align:justify;*/
/*
    In Chrome 57, 'word-break:break-all;text-align:justify' is causing
    'overflow-wrap:break-word' not to break 'a lot of continuous "ï¼"'. I
    considered it as a browser bug.

    It also results in horizontal scroll.
*/
}
div.chat>div.message>div.top{
    text-align:center;
}
div.chat>div.message a.user{
    color:black;
    text-decoration:none;
}
div.chat>div.message img{
    max-width:60%;
}
div.chat>div.bottom>textarea{
    width:calc(100% - 6px);
    resize:none;
}
div.chat div.scroll *::-webkit-scrollbar{
    height:12px;
}
div.chat div.scroll *::-webkit-scrollbar-track{
    border-radius:6px;
    background:#DDD;
}
div.chat div.scroll *::-webkit-scrollbar-thumb{
    border-radius:6px;
    background:#BBB;
}
/* start fullscreen */
/*body:-webkit-full-screen{
    margin:0;
    width:100%;
    height:100%;
    background-color:white;
}
body:-webkit-full-screen>.chat{
    padding:8px;
    width:calc(100% - 16px);
    height:calc(100% - 16px);
    background-color:white;
}*/
/* end fullscreen */
